@import url("https://fonts.googleapis.com/css? family=Poiret+One:400");

body {
    align-items: center;
    background-color: #35daff;
    border: 1px none;
    display: flex;
    flex-direction: column;
   
}
